
// MOBILE NAV BAR

@media (min-width: 800px) {
    .primary-navigation {
        display: flex;
        padding: 25px 0;
        text-transform: uppercase;
    
        a {
            text-transform: uppercase;
            letter-spacing: 0.15rem;
            margin-left: 30px;
            font-size: 13px;
    
            &a:first-child {
                margin-left: 0px;
            }
    
            &:hover{
                border-bottom: 2px solid #333;
            }
        }
    
        li:first-child a{
            margin-left: 0px;
        }
    }
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 800px) {
    .primary-navigation {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 50%;
        flex-direction: column;
        padding: 80px 25px 25px 30px;
        background: hsl(0 0% 100% / 0.8);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
        height: 313px;

        a {
           text-transform: uppercase;
           margin-top: 20px;
        &:hover {
            border-bottom: 2px solid #333;
        }
        }

        li {
            padding-top: 20px;
        }
    }
    
    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }
    
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-image: url(/img/burger.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        border: 0;
        width: 40px;
        aspect-ratio: 1;
        top: 20px;
        right: 20px;

    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(/img/close.svg);
    }
}

// NAV BAR DONE

.headerContainer {
    padding: 100px 0;
    // padding: 60px 0 180px 0;
}

@media (min-width:800px) {
    .headerContainer{
        display: flex;
    }
}

.aboutMeImg {
    display: flex;
    flex-shrink: 0;
    img {
        width: 170px;
        object-fit: contain;
        border-radius: 5px;
    }
}

@media (min-width: 800px) {
    .aboutMeImg {
        width: 300px;
            img {
                width: 100%;
            }
        }
}

.aboutMeText{
    h1 {
        font-size: 40px;
        margin: 10px 0 15px 0;
    }
    h2 {
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0.15rem;
        font-size: 13px;
        font-weight: 300;
    }
    p {
        line-height: 21px;
        max-width: 322px;
    }

    button {
        width: 170px;
        height: 43px;
        text-transform: uppercase;
        text-decoration: none;
        color: #333;
        background-color: #dcd6f7;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        letter-spacing: 0.15rem;
        font-size: 13px;
        font-weight: 700;

        &:hover,
        &:active,
        &focus {
            background-color: #c0b6ee;
        }
    }
}

@media (min-width: 800px) {
    .aboutMeText {
        width: 50%;
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 50%;
            h1{
                margin: 0;
            }
}
}