nav {
    background-color: #f7c7b1;
    height: auto;
    width: 100%;
    padding: 20px;
    // position: relative;
    ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin: 0;
        li{
            text-align: center;
            text-transform: uppercase;
            a{
                text-decoration: none;
                color: black;
                margin-left: 20px;
            }
            a:hover{
                color: white;
                transition: color 0.3s;
                font-weight: 500;
            }
        }
    }
}

.headerSection{
    background-color: #d3cbd8;
    background-size: cover;
    min-height: 100vh;
}

.headerImg{
    width: 70%;
    border-radius: 40%;
    border: 4px solid #fcb18d;
}


.aboutMeContainer {
    max-height: 100vh;
    // border: 3px solid red;
}

.aboutMeIcons{
    padding-top: 20px;
    a{
        font-size: 50px;
        color: white;
        margin-top: 10px;
    }
    i{
        padding-right: 10px;
    }
}

.intro {
	float: left;
    text-align: center;
    width: 50%;
    margin-top: 120px;
}

.aboutMe {
	float: right;
    text-align: center;
    width: 50%;
    margin-top: 100px;
    letter-spacing: 0.5px;
    border: 3px solid #fcb18d;
    padding: 15px;
    h1{
        font-size: 60px;
        font-weight: 700;
        color: black;
        text-shadow: 0.3rem 0.3rem 1rem white;
        letter-spacing: -1.5px;
    }
    h2{
        font-size: 25px;
        letter-spacing: -1.4px;
    }
}

// .aboutMe button {
//     background: #f9e1f7;
//     padding: 10px;
//     cursor: pointer;
//     border: 1px solid #c390bf;
//     border-radius: 0.25rem;
//     line-height: 1.2;
//     width: 30%;
//     a{
//         color: black;
//         text-decoration: none;
//     }
// }

.aboutMe button {
    width: 170px;
    height: 43px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    text-align: center;
    a{
        text-decoration: none;
        color: black;
    }
    }
  
  .aboutMe button:hover {
    background-color: rgb(239, 235, 235);
    box-shadow: 0px 15px 20px #c5afc3;
    color: #fff;
    transform: translateY(-1px);
  }
    

  .aboutMeIcons button:hover {
        background-color: rgb(239, 235, 235);
        box-shadow: 0px 15px 20px #c5afc3;
        color: #fff;
        transform: translateY(-1px);
      }
