
body {
    background-color:#f4eeff;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: #333;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.bold {
    font-weight: 600;
}

.hide {
    display: none;
}

h1 {
    font-size: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

h2 {
    font-size: 19px;
    letter-spacing: 1.5px;
}

p {
    font-size: 16px;
}

a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

@media (min-width: 600px) {
    h1 {
        font-size: 45px;
        letter-spacing: 2px;
    }
    h2 {
        font-size: 30px;
        letter-spacing: 2px;
    }
}

// specific to this section from here down

.mainNav{
    ul{
        display: flex;
        padding: 20px 0;
        width: 80%;
        margin: 0 auto;
        max-width: 1200px;
        text-transform: uppercase;
    }
    a{
        margin-right: 10px;
    }
    a:hover{
        border-bottom: 1px solid #333;
    }
}

.headerContainer {
    margin: 150px 0 50px 0;
}

.socialsNav{
    display: none;
}

.aboutMeImg {
    img {
        border-radius: 50%;
        width: 160px;
    }
}

.aboutMeText{
    p {
        line-height: 1.5;
    }
    button {
        font-weight: 700;
        width: 170px;
        height: 43px;
        text-transform: uppercase;
        background-color: #dcd6f7;
        cursor: pointer;
        border: none;
    }
    button:hover{
        background-color: #c0b6ee;
    }
}

// media queries below

@media (min-width:600px) {
.mainNav {
    padding: 20px;
 }

.headerContainer{
    margin: 100px 0 200px 0;
    display: flex;
}

.aboutMeImg {
    width: 320px;
        img {
            width: 100%;
        }
    }

.aboutMeText {
    width: 50%;
    margin-left: 40px;
    display: flex;
    align-items: center;
    h1{
        margin: 0;
    }
}
}