
.sectionThree{
    h2{
        margin: 0;
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        position: relative; 
    }
    h2::after{
        position: absolute;
        content: '';
        width: 13.5%;
        height: 0.2rem;
        right: 43.1%;
        bottom: 2px;
        background-color: #f7c7b1;
        display: block;
    }
}
  
.projectContainer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.project1,
.project2,
.project3,
.project4 {
    max-width: 45%;
    text-align: center;
    background-color: #F0F8FF;
    border: #dfe9f1;
    border-radius: 10%;
    margin: 10px;
    padding-bottom: 10px;
    .projectImg{
        width: 70%;
    }
    button{
        background: #f9e1f7;
        padding: 10px;
        cursor: pointer;
        border: none;
        border-radius: 7px;
    }
    a{
        color: black;
        line-height: 1.2;
        text-decoration: none;
    }
    button:hover{
        background-color: #f6c5f2;
        transform: translateY(2px);
    }
}


// MEDIA QUERIES

@media (max-width: 1000px) {
    .projectContainer{
        flex-direction: column;
        align-items: center;
    }
    .sectionThree h2{
        margin-bottom: 20px;
    }
    .project1,
    .project2,
    .project3,
    .project4 {
        min-width: 85%;
  }
}