
.portfolio {
    flex-direction: column;
    margin: 40px 0;

    .leftSide{
        img{
            width: 100%;
            height: auto;
        }
    }
}

.fade-in-image {
    opacity: 50%;
  }
  
  .fade-in-image:hover {
    opacity: 100%;
    transition: opacity 1s;
  }

@media (min-width: 800px) {

    .portfolio h2 {
        margin-top: 0;
    }
    
    .project{
        display: flex;
        padding-bottom: 40px;
    }
    
    .leftSide{
        width: 40%;
        margin: 0 50px 30px 0;
        max-width: 500px;
    }
    .rightSide{
        width: 60%;
    }
}