
.skills {
    background-color: white;
    padding: 30px 0;
    ul {
        line-height: 22px;
        list-style-type: none;
        padding: 0;
    }
    h2 {
        font-size: 25px;
        font-weight: 800;
        border-bottom: 1px solid #f7c7b1;
    }
    img {
        width: 28px;
        padding-right: 10px;
    }
}

div.skillsColumn:nth-child(2) > ul:nth-child(2) > li:nth-child(3) {
    font-size: 12px;
   }


@media (min-width: 600px) {
    .skillsColumn:nth-child(2) {
        padding-left: 130px;
    }

    .skillsContainer {
        display: flex;
    }
}