
@import 'normalized';
@import 'header';
@import 'toolkit';
@import 'projects';
@import 'contact';
@import 'mobileNav';

$background: #f4eeff;
$main: #d3cbd8;
$secondColor: #fcb18d;
$color: #f4eeff;


// $thirdFont: Montserrat, sans-serif;
// three fonts: readex pro, spectral and poppings, montserrat
//$primaryFont: 'Readex Pro', sans-serif;

    //font-family: "Karla", sans-serif;
    //font-family: 'Readex Pro', sans-serif;
    //font-family: 'Montserrat', sans-serif;