html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.primary-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 0;
  text-transform: uppercase;
}
.primary-navigation a {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  margin-left: 30px;
  font-size: 13px;
}
.primary-navigation a:hover {
  border-bottom: 2px solid #333;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 800px) {
  .primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px 25px 25px 30px;
    background: hsla(0deg, 0%, 100%, 0.8);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 350ms ease-out;
    transition: -webkit-transform 350ms ease-out;
    transition: transform 350ms ease-out;
    transition: transform 350ms ease-out, -webkit-transform 350ms ease-out;
    height: 313px;
  }
  .primary-navigation[data-visible=true] {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-image: url(/img/burger.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    width: 40px;
    aspect-ratio: 1;
    top: 20px;
    right: 20px;
  }
  .mobile-nav-toggle[aria-expanded=true] {
    background-image: url(/img/close.svg);
  }
}
.headerContainer {
  padding: 100px 0;
}

@media (min-width: 800px) {
  .headerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.aboutMeImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutMeImg img {
  width: 170px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 800px) {
  .aboutMeImg {
    width: 300px;
  }
  .aboutMeImg img {
    width: 100%;
  }
}
.aboutMeText h1 {
  font-size: 50px;
  margin: 10px 0;
}
.aboutMeText h2 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.15rem;
  font-size: 13px;
  font-weight: 300;
}
.aboutMeText p {
  line-height: 27px;
  max-width: 390px;
}
.aboutMeText button {
  width: 170px;
  height: 43px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  background-color: #dcd6f7;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  letter-spacing: 0.15rem;
  font-size: 13px;
  font-weight: 700;
}
.aboutMeText button:hover, .aboutMeText button:active, .aboutMeText buttonfocus {
  background-color: #c0b6ee;
}

@media (min-width: 800px) {
  .aboutMeText {
    width: 50%;
    margin-left: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutMeText h1 {
    margin: 0;
  }
}
.skills {
  background-color: white;
  padding: 30px 0;
}
.skills ul {
  line-height: 22px;
  list-style-type: none;
  padding: 0;
}
.skills h2 {
  font-size: 25px;
  font-weight: 800;
  border-bottom: 1px solid #f7c7b1;
}
.skills img {
  width: 37px;
  padding-right: 15px;
  vertical-align: middle;
  padding-bottom: 6px;
}

div.skillsColumn:nth-child(2) > ul:nth-child(2) > li:nth-child(3) {
  font-size: italic;
}

@media (min-width: 815px) {
  .skillsColumn:nth-child(2) {
    padding-left: 130px;
  }
  .skillsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.portfolio {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0;
}
.portfolio .leftSide img {
  width: 100%;
  height: auto;
}

.fade-in-image {
  opacity: 50%;
}

.fade-in-image:hover {
  opacity: 100%;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

@media (min-width: 800px) {
  .portfolio h2 {
    margin-top: 0;
  }
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 40px;
  }
  .leftSide {
    width: 40%;
    margin: 0 50px 30px 0;
    max-width: 500px;
  }
  .rightSide {
    max-width: 380px;
  }
}
.contactSection {
  background-color: white;
  text-align: center;
  padding-bottom: 70px;
}
.contactSection a {
  text-decoration: underline;
}
.contactSection h1 {
  position: relative;
  padding-top: 50px;
}
.contactSection i {
  font-size: 40px;
  padding-right: 20px;
  padding-top: 20px;
}
.contactSection i:hover {
  color: #c0b6ee;
}

footer {
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  background-color: #f4eeff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Lora", serif;
  font-size: 50px;
}

h2 {
  font-family: "Lora", serif;
  letter-spacing: 1.5px;
  font-size: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

.bold {
  font-weight: 500;
}