html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

nav {
  background-color: #f7c7b1;
  height: auto;
  width: 100%;
  padding: 20px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
}
nav ul li {
  text-align: center;
  text-transform: uppercase;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  color: white;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-weight: 500;
}

header {
  background: #d3cbd8;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutMeImg img {
  width: 90%;
  border-radius: 40%;
  border: 4px solid #fcb18d;
  margin-top: 100px;
  margin-bottom: 140px;
}

.aboutMeIcons {
  padding-top: 20px;
}
.aboutMeIcons a {
  font-size: 50px;
  color: white;
  margin-top: 10px;
}
.aboutMeIcons i {
  padding-right: 10px;
}
.aboutMeIcons a:hover {
  color: #fcb18d;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-weight: 500;
}

.aboutMeText {
  max-width: 55%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 140px;
  letter-spacing: 0.5px;
  padding: 15px;
}
.aboutMeText h1 {
  font-size: 60px;
  font-weight: 700;
  color: black;
  text-shadow: 0.3rem 0.3rem 1rem white;
  letter-spacing: -1.5px;
}
.aboutMeText h2 {
  font-size: 25px;
  letter-spacing: -1px;
}
.aboutMeText p {
  font-size: 17px;
}

.aboutMeText button {
  width: 170px;
  height: 43px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
  text-align: center;
}
.aboutMeText button a {
  text-decoration: none;
  color: black;
}

.aboutMeText button:hover {
  background-color: #fcb18d;
  -webkit-box-shadow: 0px 15px 20px #c5afc3;
          box-shadow: 0px 15px 20px #c5afc3;
  color: #e8d7d7;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

@media (max-width: 1000px) {
  .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .aboutMeImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .aboutMeImg img {
    width: 60%;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .aboutMeText {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 45px;
  }
  .aboutMeText h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media (max-width: 830px) {
  .aboutMeImg img {
    width: 70%;
    margin-top: 20px;
  }
}
@media (max-width: 700px) {
  .aboutMeImg img {
    width: 70%;
  }
}
.skillsContainer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.skillsContainer h2 {
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.skillsContainer h2::after {
  position: absolute;
  content: "";
  width: 10%;
  height: 0.175rem;
  left: 45%;
  bottom: 3px;
  background-color: #f7c7b1;
  display: block;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.icons i {
  font-size: 60px;
}
.icons li {
  list-style: none;
  display: inline-block;
  margin-right: 28px;
  margin-top: 20px;
}
.icons ul {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.icons > ul:nth-child(1) > li:nth-child(11) > img:nth-child(1) {
  padding-left: 30px;
}

@media (max-width: 830px) {
  .icons ul {
    width: 100%;
  }
}
.sectionThree h2 {
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.sectionThree h2::after {
  position: absolute;
  content: "";
  width: 13.5%;
  height: 0.2rem;
  right: 43.1%;
  bottom: 2px;
  background-color: #f7c7b1;
  display: block;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.project1,
.project2,
.project3,
.project4 {
  max-width: 45%;
  text-align: center;
  background-color: #F0F8FF;
  border: #dfe9f1;
  border-radius: 10%;
  margin: 10px;
  padding-bottom: 10px;
}
.project1 .projectImg,
.project2 .projectImg,
.project3 .projectImg,
.project4 .projectImg {
  width: 70%;
}
.project1 button,
.project2 button,
.project3 button,
.project4 button {
  background: #f9e1f7;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
}
.project1 a,
.project2 a,
.project3 a,
.project4 a {
  color: black;
  line-height: 1.2;
  text-decoration: none;
}
.project1 button:hover,
.project2 button:hover,
.project3 button:hover,
.project4 button:hover {
  background-color: #f9e1f7;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media (max-width: 1000px) {
  .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sectionThree h2 {
    margin-bottom: 20px;
  }

  .project1,
.project2,
.project3,
.project4 {
    min-width: 85%;
  }
}
footer {
  background-color: #fcb18d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 19px;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connectText h2 {
  display: inline-block;
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
  position: relative;
  padding-top: 30px;
}
.connectText h2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: 0.2px;
  background-color: #f7c7b1;
  display: block;
}
.connectText h3 {
  font-size: 20px;
  padding-right: 40px;
}
.connectText i {
  font-size: 40px;
  padding-right: 20px;
  color: white;
}
.connectText i:hover {
  color: #fcb18d;
}

.connectForm {
  width: 50%;
  margin-top: 50px;
}
.connectForm button {
  width: 80%;
  background: #f9e1f7;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  color: black;
  line-height: 1.2;
  text-decoration: none;
}
.connectForm button:hover {
  background-color: #fcb18d;
}
.connectForm form {
  width: 100%;
}
.connectForm textarea {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 12px 20px;
  resize: none;
  border: 2px solid #ccc;
  border-radius: 7px;
  background-color: #f8f8f8;
}
.connectForm input {
  width: 80%;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 7px;
  background-color: #f8f8f8;
}

.contactSection {
  background-color: #d3cbd8;
  padding-bottom: 90px;
  padding-top: 35px;
}

@media (max-width: 999px) {
  .contactSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .connectText {
    text-align: center;
  }

  .connectForm {
    width: 100%;
    margin-top: 30px;
  }
  .connectForm form {
    text-align: center;
    max-width: 90%;
  }
  .connectForm textarea {
    width: 400px;
  }
  .connectForm button {
    width: 400px;
  }
  .connectForm input {
    width: 400px;
  }

  h3 {
    display: inline-block;
    text-align: center;
  }
}
html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}